.cart-disclaimer{
    color: #f4f7fd;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    padding-top: 2em;
    padding-left: 0.9em;
    margin: 0 auto 1em auto;
}
.button-inicio{
    background-color: #48c3b3;
    color: #f4f7fd;
    padding: 0.5em 1em;
    margin: 1em 2em 3em 2em;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.container-list-cart {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.cart-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 2em auto;
    box-sizing: border-box;
    border: solid 1px white;
}
.cart-item {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em auto;
    margin: 0.5em auto;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    border-bottom: solid 1px white;
}
.cart-item-quantity-number {
    color: #f4f7fd;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.5em;
    padding: 0.2em 0.65em 0.1em 0.65em;
    background-color: #fe207b;
    display: inline-block;
    border-radius: 50%;
}
.cart-item-album {
    color: #f4f7fd;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
}
.cart-item-artist {
    color: #48c3b3;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    line-height: 1.2em;
}
.cart-item-price {
    color: #fe207b;
    font-size: 0.9rem;
    font-weight: 700;
}
.delete-button {
    color: #fe207b;
    background-color: transparent;
    border: none;
    align-self: left;
    font-size: 1.5em;
}
.total-cart {
    color: #f4f7fd;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: right;
    padding-top: 0.7em;
}
.button-checkout {
    background-color: #fe207b;
    color: #f4f7fd;
    padding: 0.5em 1em;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    align-self: flex-end;
    margin: 0 7em;
}
.d-flex{
    margin-bottom: 3em;
}
.container-icon-message{
    margin: 1em auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.icon-message{
    width: 10%;
}
.message-order1{
    color: #f4f7fd;
    font-size: 2rem;
    padding-top: 1.5em;
}
.message-order{
    color: #f4f7fd;
    font-size: 1.1rem;
    margin: 3em auto 2em auto;
}
.order-span{
    color: #48c3b3;
    font-weight: 700;
}
.message-order-end{
    margin: 0.5em auto 3em auto;
    padding-right: 0;
    font-size: 1.5rem;
    color: #f4f7fd;
}
/* //responsive mobile -------------------*/
@media (min-width: 320px) and (max-width: 480px){
    .cart-disclaimer{
        font-size: 1.5rem;
        padding-top: 1.3em;
        margin: 0 auto 1em auto;
    }
    .button-inicio{
    background-color: #48c3b3; 
    padding: 0.8em 1.2em;
    margin: 1em 2em 3em 2em;
    font-size: 0.9rem;
    width: 200px;
    }
    .cart-item {
        margin: 0.5em 0;
        justify-content: space-around;
    }
    .cart-item-quantity-number {
        font-size: 1rem;
        padding: 0.2em 0.5em 0.1em 0.5em;
    }
    .cart-item-album {
        font-size: 0.8rem;
    }
    .cart-item-artist {
        font-size: 0.8em;
    }
    .cart-item-price {
        font-size: 0.8rem;
    }
    .delete-button {
        font-size: 1em;
    }
    .button-checkout{
        margin: 0 1em;
    }
    .container-icon-message{
    margin: 0; 
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    }
    .icon-message{
        width: 40%;
    }
    .message-order1{
        padding-top: 0.8em;
        text-align: center;
    }
    .message-order{
        font-size: 1.3rem;
        margin: 1em 0em 2em 1.3em;
    }
    .order-span{
        color: #48c3b3;
        font-weight: 700;
    }
    .message-order-end{
        margin: 0.5em 0 2em 1em;
        padding-right: 1em;
    }
}
/*------------------ responsive mobile// */
/* //responsive tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px){
    .cart-disclaimer{
        margin: 0 auto 0.5em auto;
        padding-top: 1.5em;
    }
    .button-inicio{
        padding: 0.7em 0.5em;
        margin: 1em 2em 3em 2em;
    }
    .button-checkout {
        margin: 0 4.7em;
    }
    .container-icon-message{
        margin: 1em auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
    .icon-message{
        width: 15%;
    }
    .message-order1{
        color: #f4f7fd;
        font-size: 1.8rem;
        padding-top: 0.5em;
        padding-left: 0.5em;
    }
    .message-order{
        font-size: 1.5rem;
        padding-top: 0.6em;
        margin: 0 auto;
        padding-left: 3em;
        margin-bottom: 1em;
    }
    .order-span{
        color: #48c3b3;
        font-weight: 700;
    }
    .message-order-end{
        margin: 0.5em auto 2em 1em;
    }
}
/*------------------ responsive tablet// */