.cart-disclaimer{
    color: #f4f7fd;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
    padding-top: 2em;
    padding-left: 0.9em;
    margin: 0 auto 1em auto;
}
.button-inicio{
    background-color: #48c3b3;
    color: #f4f7fd;
    padding: 0.5em 1em;
    margin: 1em 2em;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}
.container-list-cart {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.cart-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 2em auto;
    box-sizing: border-box;
    border: solid 1px white;
}
.cart-item {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5em auto;
    margin: 0.5em auto;
    justify-content: space-between;
    align-items: baseline;
    box-sizing: border-box;
    border-bottom: solid 1px white;
}
.cart-item-quantity-number {
    color: #f4f7fd;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 0.5em;
    padding: 0.2em 0.65em 0.1em 0.65em;
    background-color: #fe207b;
    display: inline-block;
    border-radius: 50%;
}
.cart-item-album {
    color: #f4f7fd;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
}
.cart-item-artist {
    color: #48c3b3;
    font-size: 1em;
    font-weight: 500;
    text-transform: capitalize;
    font-style: italic;
    line-height: 1.2em;
}
.cart-item-price {
    color: #fe207b;
    font-size: 0.9rem;
    font-weight: 700;
}
.delete-button {
    color: #fe207b;
    background-color: transparent;
    border: none;
    align-self: left;
    font-size: 1.5em;
}
.total-cart {
    color: #f4f7fd;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2em;
    text-align: right;
    padding-top: 0.7em;
}
.button-checkout {
    background-color: #fe207b;
    color: #f4f7fd;
    padding: 0.5em 1em;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    align-self: flex-end;
    margin: 0 7em;
}