body{
    background-color: #27203a;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
}
.filter-itemlist-container{
    display: flex;
    flex-flow: row;
    margin: 0 auto;
}
.hero-banner {
    width:100%;
    height:200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index:99;
  }
.hero-container{
    text-align: center;
    font-weight: 700;
    margin: 1em auto 0em auto;
    z-index:100;
    position: relative;
}
h2{
    font-size: 6rem;
    letter-spacing: 0.1em;
    color: #f4f7fd;
    font-weight: 700;
    padding: 0.4em 0;
}