body{
    background-color: #27203a;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
}
.filter-itemlist-container{
    display: flex;
    flex-flow: row;
    margin: 2em auto 3em auto;
}
.hero-banner {
    width:100%;
    height:200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://raw.githubusercontent.com/alonsomacarena/ecommerce-wolfe-records-coderhouse/master/public/images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index:99;
  }
.hero-container{
    text-align: center;
    font-weight: 700;
    margin: 1em auto 0em auto;
    z-index:100;
    position: relative;
}
h2{
    font-size: 6rem;
    letter-spacing: 0.1em;
    color: #f4f7fd;
    font-weight: 700;
    padding: 0.4em 0;
}
.container-nosotros{
    margin: 3em auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
.img-nosotros{
    width: 15%;
}
.container-text-nosotros{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}
.subtitle-text{
    color: #f4f7fd;
    text-align: center;
    font-size: 1.8rem;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
}
.title-nosotros{
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    color: #48c3b3;
    padding-bottom: 0.5em;
}
.text-nosotros{
    color: #f4f7fd;
    text-align: justify;
    word-break: keep-all;
    word-spacing: -1px;
    line-height: 25px;
    text-transform: none;
    padding-left: 2em;
    padding-right: 2em;
}
.button-message {
    background-color: #fe207b;
    color: #f4f7fd;
    padding: 0.5em 1em;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    align-self: flex-end;
    margin: 0 24em 3em 0;
}
.contact-text{
    margin: 3em 13em;
    padding-right: 10em;
}
.message-client, .message-client1{
    color: #f4f7fd;
}
.message-client{
    font-size: 1.8rem;
    margin: 2em 0 1em 7.5em;
}
.message-client1{
    font-size: 1.5rem;
    margin-bottom: 3em;
    margin: 2em 0 3em 9em;
}