body{
    background-color: #27203a;
    font-family: 'Comfortaa', cursive;
    text-transform: uppercase;
}

/*.welcome{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    font-style: bold;
    display: inline-block;
    padding-top: 0.5em;
}
.container-welcome{
    background-color: #f4f7fd ;
    text-align: center;
    box-sizing: border-box;
    max-height: 2.5rem;
}*/