.navbar{
    background-color: #302848;
    text-transform: uppercase;
    padding: 2em;
    margin: 0 auto;
    box-sizing: border-box;
    max-height: 7em;
}
.navbar-nav{
    display: flex;
    justify-content: space-around;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 700;
    color: #48c3b3;
}
.navbar-brand:hover{
    color: #48c3b3;
}
.nav-item, .nav-link, .search-icon{
    color: #f4f7fd;
    font-weight: 600;
    font-size: 1.2rem;
}
.search-icon{
    padding-right: 0.6em;
}
.nav-item:hover, .nav-link:hover{
    color: #fe207b;
}
.dropdown-menu{
    background-color: #f4f7fd;
}
.dropdown-item{
    color: #27203a;
    font-weight: 500;
}
.dropdown-item:hover{
    background-color: #302848;
    color: #f4f7fd;
    font-weight: 600;
}
.dropdown-divider{
    border-top: 1px solid #fe207b;
}
.navbar-toggler{
    background-color: #f4f7fd;
    color: black;
}
.navbar-logo{
    width: 25%;
}
#cd-cart-trigger{
    color: #f4f7fd;
}
/* //responsive mobile -------------------*/
@media (min-width: 320px) and (max-width: 480px){
    .navbar{
        max-width: 480px;
        display: flex;
        flex-flow: row nowrap;
    }
}
/*------------------ responsive mobile// */
/* //responsive tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px){
.navbar{
    max-width: 1024px;
    display: flex;
    flex-flow: row nowrap;
}
}
/*------------------ responsive tablet// */