.footer{
    background-color: #302848;
    padding: 2em;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    max-height: 7em;
}

.copyright{
    color: #fe207b;
  }
.footer-copyright{ 
      color: #eeeeee;
  }
.button-back{
  background-color: transparent;
  color: #48c3b3;
  border: none;
}
/* //responsive mobile -------------------*/
@media (min-width: 320px) and (max-width: 480px){
  .footer{
      max-width: 480px;
  }
}
/*------------------ responsive mobile// */
/* //responsive tablet -------------------*/
@media (min-width: 768px) and (max-width: 1024px){
.footer{
  max-width: 1024px;
}
}
/*------------------ responsive tablet// */